/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@theme {
  --color-mainbg: #f7f6fc;
  --color-sidebarbg: #fafafc;
  --color-secondarybg: #9198e8;
  --color-dark: #1f1e28;
  --color-subHeading: #7d8aa1;
}
